@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

hr {
  border: none;
  border-top: 1px solid #e0e0e0;
}
